@{
    ViewData["Title"] = "Collision Details";
}

@model Collision 

<h3 class="bg-info text-white text-center p-1">Details</h3>

<table class="table table-sm table-bordered table-striped">
    <tbody>
        <tr><th>Collision ID:</th><td>@Model.CRASH_ID</td></tr>
        <tr><th>Collision Date:</th><td>@Model.CRASH_DATETIME</td></tr>
        <tr><th>Collision Route:</th><td>@Model.ROUTE</td></tr>
        <tr><th>Collision Milepoint:</th><td>@Model.MILEPOINT</td></tr>
        <tr><th>Latitude (UTM):</th><td>@Model.LAT_UTM_Y</td></tr>
        <tr><th>Longitude (UTM:</th><td>@Model.LONG_UTM_X</td></tr>
        <tr><th>Collision Road Name:</th><td>@Model.MAIN_ROAD_NAME</td></tr>
        <tr><th>Collision City:</th><td>@Model.CITY</td></tr>
        <tr><th>Collision County:</th><td>@Model.COUNTY_NAME</td></tr>
        <tr><th>Collision Severity:</th><td>@Model.CRASH_SEVERITY_ID</td></tr>
        @if (Model.WORK_ZONE_RELATED == "TRUE")
        {
            <tr><th>Work Zone Related:</th><td>@Model.WORK_ZONE_RELATED</td></tr>
        }
        @if (Model.PEDESTRIAN_INVOLVED == "TRUE")
        {
            <tr><th>Pedestrian Involved:</th><td>@Model.PEDESTRIAN_INVOLVED</td></tr>
        }
        @if (Model.BICYCLIST_INVOLVED == "TRUE")
        {
            <tr><th>Bicyclist Involved:</th><td>@Model.BICYCLIST_INVOLVED</td></tr>
        }
        @if (Model.MOTORCYCLE_INVOLVED == "TRUE")
        {
            <tr><th>Motorcycle Involved:</th><td>@Model.MOTORCYCLE_INVOLVED</td></tr>
        }
        @if (Model.IMPROPER_RESTRAINT == "TRUE")
        {
            <tr><th>Improper Restraint:</th><td>@Model.IMPROPER_RESTRAINT</td></tr>
        }
        @if (Model.UNRESTRAINED == "TRUE")
        {
            <tr><th>Unrestrained:</th><td>@Model.UNRESTRAINED</td></tr>
        }
        @if (Model.DUI == "TRUE")
        {
            <tr><th>DUI:</th><td>@Model.DUI</td></tr>
        }
        @if (Model.INTERSECTION_RELATED == "TRUE")
        {
            <tr><th>Intersection Related:</th><td>@Model.INTERSECTION_RELATED</td></tr>
        }
        @if (Model.WILD_ANIMAL_RELATED == "TRUE")
        {
            <tr><th>Wild Animal Related:</th><td>@Model.WILD_ANIMAL_RELATED</td></tr>
        }
        @if (Model.DOMESTIC_ANIMAL_RELATED == "TRUE")
        {
            <tr><th>Domestic Animal Related:</th><td>@Model.DOMESTIC_ANIMAL_RELATED</td></tr>
        }
        @if (Model.OVERTURN_ROLLOVER == "TRUE")
        {
            <tr><th>Overturn Rollover:</th><td>@Model.OVERTURN_ROLLOVER</td></tr>
        }
        @if (Model.COMMERCIAL_MOTOR_VEH_INVOLVED == "TRUE")
        {
            <tr><th>Commercial Vehicle Invovled:</th><td>@Model.COMMERCIAL_MOTOR_VEH_INVOLVED</td></tr>
        }
        @if (Model.PEDESTRIAN_INVOLVED == "TRUE")
        {
            <tr><th>Teenage Driver Involved:</th><td>@Model.TEENAGE_DRIVER_INVOLVED</td></tr>
        }
        @if (Model.OLDER_DRIVER_INVOLVED == "TRUE")
        {
            <tr><th>Older Driver Involved:</th><td>@Model.OLDER_DRIVER_INVOLVED</td></tr>
        }
        @if (Model.NIGHT_DARK_CONDITION == "TRUE")
        {
            <tr><th>Collision Occurred at Night:</th><td>@Model.NIGHT_DARK_CONDITION</td></tr>
        }
        @if (Model.SINGLE_VEHICLE == "TRUE")
        {
            <tr><th>Single Vehicle:</th><td>@Model.SINGLE_VEHICLE</td></tr>
        }
        @if (Model.DISTRACTED_DRIVING == "TRUE")
        {
            <tr><th>Driver Distracted:</th><td>@Model.DISTRACTED_DRIVING</td></tr>
        }
        @if (Model.DROWSY_DRIVING == "TRUE")
        {
            <tr><th>Driver Drowsy:</th><td>@Model.DROWSY_DRIVING</td></tr>
        }
        @if (Model.ROADWAY_DEPARTURE == "TRUE")
        {
            <tr><th>Roadway Departure:</th><td>@Model.ROADWAY_DEPARTURE</td></tr>
        }
    </tbody>
</table>
