@page "/admin/books/edit/{id:long}"
@page "/admin/books/create"
@inherits OwningComponentBase<ICollisionRepository>

<style>
    div.validation-message {
        color: rgb(220,53,69);
        font-weight: 500
    }
</style>

<EditForm Model="c" OnValidSubmit="SaveCollision">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <div class="form-group">
        <label><strong>Crash Id:</strong></label>
        <input class="form-control" disabled value="@c.CRASH_ID" />
    </div>
    <div class="form-group">
        <label><strong>Date of Collision:</strong></label>
        <ValidationMessage For="@(() => c.CRASH_DATETIME)"></ValidationMessage>
        <InputText class="form-control" @bind-value="c.CRASH_DATETIME"></InputText>
    </div>
    <div class="form-group">
        <label><strong>Route Collision Occurred On:</strong></label>
        <ValidationMessage For="@(() => c.ROUTE)"></ValidationMessage>
        <InputText class="form-control" @bind-value="c.ROUTE"></InputText>
    </div>
    <div class="form-group">
        <label><strong>Mile Point Collision Occurred At:</strong></label>
        <ValidationMessage For="@(() => c.MILEPOINT)"></ValidationMessage>
        <InputText class="form-control" @bind-value="c.MILEPOINT"></InputText>
    </div>
    <div class="form-group">
        <label><strong>Latitude of Collision:</strong></label>
        <ValidationMessage For="@(() => c.LAT_UTM_Y)"></ValidationMessage>
        <InputText class="form-control" @bind-value="c.LAT_UTM_Y"></InputText>
    </div>
    <div class="form-group">
        <label><strong>Longitude of Collision:</strong></label>
        <ValidationMessage For="@(() => c.LONG_UTM_X)"></ValidationMessage>
        <InputText class="form-control" @bind-value="c.LONG_UTM_X"></InputText>
    </div>
    <div class="form-group">
        <label><strong>Name of Road Where Collision Occurred:</strong></label>
        <ValidationMessage For="@(() => c.MAIN_ROAD_NAME)"></ValidationMessage>
        <InputText class="form-control" @bind-value="c.MAIN_ROAD_NAME"></InputText>
    </div>
    <div class="form-group">
        <label><strong>City Where Collision Occurred:</strong></label>
        <ValidationMessage For="@(() => c.CITY)"></ValidationMessage>
        <InputText class="form-control" @bind-value="c.CITY"></InputText>
    </div>
    <div class="form-group">
        <label><strong>County Where Collision Occurred:</strong></label>
        <ValidationMessage For="@(() => c.COUNTY_NAME)"></ValidationMessage>
        <InputText class="form-control" @bind-value="c.COUNTY_NAME"></InputText>
    </div>
    <div class="form-group">
        <label><strong>County Where Collision Occurred:</strong></label>
        <ValidationMessage For="@(() => c.COUNTY_NAME)"></ValidationMessage>
        <InputText class="form-control" @bind-value="c.COUNTY_NAME"></InputText>
    </div>
    <div class="form-group">
        <label><strong>Select the Severity of the Crash:</strong></label>
        <ValidationMessage For="@(() => c.CRASH_SEVERITY_ID)"></ValidationMessage>
        <InputNumber class="form-control" @bind-Value="c.CRASH_SEVERITY_ID"></InputNumber>
    </div>
    <div class="form-group">
        <label><strong>Did the Collision Occur in a Work Zone:</strong></label>
        <ValidationMessage For="@(() => c.WORK_ZONE_RELATED)"></ValidationMessage>
        <InputNumber class="form-control" @bind-Value="c.WORK_ZONE_RELATED"></InputNumber>
    </div>
    <div class="form-group">
        <label><strong>Did the Collision Occur in a Work Zone:</strong></label>
        <ValidationMessage For="@(() => c.WORK_ZONE_RELATED)"></ValidationMessage>
        <InputNumber class="form-control" @bind-Value="c.WORK_ZONE_RELATED"></InputNumber>
    </div>
    <div class="form-group">
        <label><strong>Was There a Pedestrian Involved:</strong></label>
        <ValidationMessage For="@(() => c.PEDESTRIAN_INVOLVED)"></ValidationMessage>
        <InputNumber class="form-control" @bind-Value="c.PEDESTRIAN_INVOLVED"></InputNumber>
    </div>
    <div class="form-group">
        <label><strong>Was There a Bicycle Involved:</strong></label>
        <ValidationMessage For="@(() => c.BICYCLIST_INVOLVED)"></ValidationMessage>
        <InputNumber class="form-control" @bind-Value="c.BICYCLIST_INVOLVED"></InputNumber>
    </div>
    <div class="form-group">
        <label><strong>Was There a Motorcycle Involved:</strong></label>
        <ValidationMessage For="@(() => c.MOTORCYCLE_INVOLVED)"></ValidationMessage>
        <InputNumber class="form-control" @bind-Value="c.MOTORCYCLE_INVOLVED"></InputNumber>
    </div>
    <div class="form-group">
        <label><strong>Was There any Improper Restraint Involved:</strong></label>
        <ValidationMessage For="@(() => c.IMPROPER_RESTRAINT)"></ValidationMessage>
        <InputNumber class="form-control" @bind-Value="c.IMPROPER_RESTRAINT"></InputNumber>
    </div>
    <div class="form-group">
        <label><strong>Was There Anyone Unrestrained:</strong></label>
        <ValidationMessage For="@(() => c.UNRESTRAINED)"></ValidationMessage>
        <InputNumber class="form-control" @bind-Value="c.UNRESTRAINED"></InputNumber>
    </div>
    <div class="form-group">
        <label><strong>Was There a DUI Involved:</strong></label>
        <ValidationMessage For="@(() => c.DUI)"></ValidationMessage>
        <InputNumber class="form-control" @bind-Value="c.DUI"></InputNumber>
    </div>
    <div class="form-group">
        <label><strong>Was There an Intersection Involved:</strong></label>
        <ValidationMessage For="@(() => c.INTERSECTION_RELATED)"></ValidationMessage>
        <InputNumber class="form-control" @bind-Value="c.INTERSECTION_RELATED"></InputNumber>
    </div>
    <div class="form-group">
        <label><strong>Was There a Wild Animal Involved:</strong></label>
        <ValidationMessage For="@(() => c.WILD_ANIMAL_RELATED)"></ValidationMessage>
        <InputNumber class="form-control" @bind-Value="c.WILD_ANIMAL_RELATED"></InputNumber>
    </div>
    <div class="form-group">
        <label><strong>Was There a Domisticated Animal Involved:</strong></label>
        <ValidationMessage For="@(() => c.DOMESTIC_ANIMAL_RELATED)"></ValidationMessage>
        <InputNumber class="form-control" @bind-Value="c.DOMESTIC_ANIMAL_RELATED"></InputNumber>
    </div>
    <div class="form-group">
        <label><strong>Was There an Overturn/Rollover Involved:</strong></label>
        <ValidationMessage For="@(() => c.OVERTURN_ROLLOVER)"></ValidationMessage>
        <InputNumber class="form-control" @bind-Value="c.OVERTURN_ROLLOVER"></InputNumber>
    </div>
    <div class="form-group">
        <label><strong>Was There a Commercial Motor Vehicle Involved:</strong></label>
        <ValidationMessage For="@(() => c.COMMERCIAL_MOTOR_VEH_INVOLVED)"></ValidationMessage>
        <InputNumber class="form-control" @bind-Value="c.COMMERCIAL_MOTOR_VEH_INVOLVED"></InputNumber>
    </div>
    <div class="form-group">
        <label><strong>Was There a Teenage Driver Involved:</strong></label>
        <ValidationMessage For="@(() => c.TEENAGE_DRIVER_INVOLVED)"></ValidationMessage>
        <InputNumber class="form-control" @bind-Value="c.TEENAGE_DRIVER_INVOLVED"></InputNumber>
    </div>
    <div class="form-group">
        <label><strong>Was There an Older Driver Involved:</strong></label>
        <ValidationMessage For="@(() => c.OLDER_DRIVER_INVOLVED)"></ValidationMessage>
        <InputNumber class="form-control" @bind-Value="c.OLDER_DRIVER_INVOLVED"></InputNumber>
    </div>
    <div class="form-group">
        <label><strong>Was it Dark Outside:</strong></label>
        <ValidationMessage For="@(() => c.NIGHT_DARK_CONDITION)"></ValidationMessage>
        <InputNumber class="form-control" @bind-Value="c.NIGHT_DARK_CONDITION"></InputNumber>
    </div>
    <div class="form-group">
        <label><strong>Was There Only a Single Vehicle Involved:</strong></label>
        <ValidationMessage For="@(() => c.SINGLE_VEHICLE)"></ValidationMessage>
        <InputNumber class="form-control" @bind-Value="c.SINGLE_VEHICLE"></InputNumber>
    </div>
    <div class="form-group">
        <label><strong>Were There any Distracted Drivers Involved:</strong></label>
        <ValidationMessage For="@(() => c.DISTRACTED_DRIVING)"></ValidationMessage>
        <InputNumber class="form-control" @bind-Value="c.DISTRACTED_DRIVING"></InputNumber>
    </div>
    <div class="form-group">
        <label><strong>Were There any Drowsy Drivers Involved:</strong></label>
        <ValidationMessage For="@(() => c.DROWSY_DRIVING)"></ValidationMessage>
        <InputNumber class="form-control" @bind-Value="c.DROWSY_DRIVING"></InputNumber>
    </div>
    <div class="form-group">
        <label><strong>Was There a Pedestrian Involved:</strong></label>
        <ValidationMessage For="@(() => c.ROADWAY_DEPARTURE)"></ValidationMessage>
        <InputNumber class="form-control" @bind-Value="c.ROADWAY_DEPARTURE"></InputNumber>
    </div>
    <button type="submit">Submit Form</button>
    <NavLink class="btn btn-secondary" href="/admin/collisions">Cancel</NavLink>
</EditForm>

@code {
    [Parameter]
    public long Id { get; set; } = 0;

    public string ThemeColor => Id == 0 ? "primary" : "warning";
    public string TitleText => Id == 0 ? "Create" : "Edit";

    public Collision c { get; set; } = new Collision();

    public ICollisionRepository repo => Service;

    protected override void OnParametersSet()
    {
        if (Id != 0)
        {
            c = repo.Collisions.FirstOrDefault(x => x.CRASH_ID == Id);
        }
    }

    public void SaveCollision()
    {
        if (Id == 0)
        {
            repo.AddCollision(c);
        }
        else
        {
            repo.EditCollision(c);
        }

        NavManager.NavigateTo("/admin/collisions");
    }

    [Inject]
    public NavigationManager NavManager { get; set; }
}
